<div class="card">
    <div class="header">
        <h4 class="title">Hubs</h4>
        <p class="category">The hubs registered on this server</p>
    </div>
    <div class="content table-responsive table-full-width">
        <loading-indicator is-loading="$ctrl.loading" error-message="$ctrl.errorMessage"></loading-indicator>
        <table class="table table-hover table-striped" ng-hide="$ctrl.errorMessage || $ctrl.loading">
            <thead>
                <th>Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Users</th>
                <th>Groups</th>
                <th>Sessions</th>
                <th>MACs</th>
                <th>IPs</th>
                <th>Num Logins</th>
                <th>Last Login</th>
                <th>Last Comms</th>
                <th>Data</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.data">
                    <td>{{item["Virtual Hub Name"]}}</td>
                    <td>{{item["Status"]}}</td>
                    <td>{{item["Type"]}}</td>
                    <td>{{item["Users"]}}</td>
                    <td>{{item["Groups"]}}</td>
                    <td>{{item["Sessions"]}}</td>
                    <td>{{item["MAC Tables"]}}</td>
                    <td>{{item["IP Tables"]}}</td>
                    <td>{{item["Num Logins"]}}</td>
                    <td>{{item["Last Login"]}}</td>
                    <td>{{item["Last Communication"]}}</td>
                    <td>{{item["transferredData"]}}</td>
                    <td><button type="button" class="btn btn-info btn-fill pull-right" ng-click="$ctrl.callback(item['Virtual Hub Name'])">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>